<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"" ></script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <title>Document</title>
</head>
<body >
    
    <p>Tehtävät</p>


    <div id="answerresult"></div>


    <a href="/tehtavat/luo">Luo tehtävä</a>

    <br>
    <br>
    <br>
    <br>



    <form action="/tehtavat" >
        <input style="visibility: hidden" value="<%= Task.id %>" type="text" name="questionid"></input>
        <br>
        <label> Kategoria: <%= Task.category %>  </label>
        <br>
        <label> Kysymys: <%= Task.question %> </label>
        <br>
        <br>
        <br>
        <button class="answerbutton" id="questionchoice1" name="questionchoice" value="<%=Task.correctAnswer%>"> <%=Task.correctAnswer%> </button>
        <button class="answerbutton" id="questionchoice2" name="questionchoice" value="<%=Task.wrongAnswer1%>"> <%=Task.wrongAnswer1%> </button>
        <button class="answerbutton" id="questionchoice3" name="questionchoice" value="<%=Task.wrongAnswer2%>"> <%=Task.wrongAnswer2%> </button>
        <button class="answerbutton" id="questionchoice4" name="questionchoice" value="<%=Task.wrongAnswer3%>"> <%=Task.wrongAnswer3%> </button>
    </form>

    <br>
    <a href="/tehtavat">Seuraava tehtävä</a>

    <br>
    <br>



    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <script>

        $(document).ready()
        {
            var test = '<%- JSON.stringify(Task) %>'
            var obj = JSON.parse(test)
            console.log(test)
            console.log(obj)

            let arr = [obj.correctAnswer, obj.wrongAnswer1, obj.wrongAnswer2, obj.wrongAnswer3]

            console.log(arr);

            for (let i = arr.length - 1; i > 0; i--) 
            {
                const j = Math.floor(Math.random() * (i + 1));
                [arr[i], arr[j]] = [arr[j], arr[i]];
            }
            console.log(arr);

            document.getElementById("questionchoice1").innerHTML = arr[0];
            document.getElementById("questionchoice2").innerHTML = arr[1];
            document.getElementById("questionchoice3").innerHTML = arr[2];
            document.getElementById("questionchoice4").innerHTML = arr[3];
            document.getElementById("questionchoice1").value = arr[0];
            document.getElementById("questionchoice2").value = arr[1];
            document.getElementById("questionchoice3").value = arr[2];
            document.getElementById("questionchoice4").value = arr[3];
        }

        $(function(){

            $("*.answerbutton").on("click", function()
            {
                event.preventDefault();

                var test = '<%- JSON.stringify(Task) %>'
                var obj = JSON.parse(test)

                if (this.innerHTML == obj.correctAnswer)
                {
                    document.getElementById("answerresult").innerHTML = "Oikea vastaus"
                    document.getElementById("questionchoice1").disabled = true;
                    document.getElementById("questionchoice2").disabled = true;
                    document.getElementById("questionchoice3").disabled = true;
                    document.getElementById("questionchoice4").disabled = true;
                }
                else
                {
                    document.getElementById("answerresult").innerHTML = "Väärä vastaus"
                    document.getElementById("questionchoice1").disabled = true;
                    document.getElementById("questionchoice2").disabled = true;
                    document.getElementById("questionchoice3").disabled = true;
                    document.getElementById("questionchoice4").disabled = true;
                }

                document.getelem

                $.post("/tehtavat/answers",
                {
                    answer: this.innerHTML,
                },
                function(data, status){
                    alert("Data: " + data + "\nStatus: " + status);
                });

            })
        })
        

        


    </script>

</body>
</html>

