<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"" ></script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
</head>
<body>

    <br>
    <div class="taskwindowwrapper">
        <div class="taskwrapper">
            <% if (Task != undefined) { %>
                <form action="/tehtavat/kaikki" method="POST">
                    <input style="display: none" id="questionidlabel" value="<%= Task.id %>" type="text" name="questionidlabel"></input>
                    <input id="correctOption" style="display: none" value="<%=Task.correctOption%>">
                    <br>
                    <br>
                    <div style="background-color: white; padding: 10px;"  >
                        <p style="white-space: pre-wrap; font-size: 20px;"><%= Task.question %></p>
                        <br>
                        <% if (Task.imageurl != "") { %>
                        <img id="taskimage" style="width: 100%; border-color: black; border-radius: 1px; border-style: solid;" src="<%=Task.imageurl%>">
                        <% } %>
                    </div>
                    <br>
                    <hr>
                    <br>
                    <div class="choiceradiowrapper" id="shuffle">
                        <div>
                            <input type="radio" style="border: 0px;  width: 20px; height: 20px; margin-bottom: 15px;" id="A" name="questionchoice" value="<%=Task.optionA%>">
                            <label style="font-size: 20px;" for="A" id="optionAlabel"><%=Task.optionA%></label><br>
                        </div>
                        <div>
                            <input type="radio" style="border: 0px;  width: 20px; height: 20px; margin-bottom: 15px;" id="B" name="questionchoice" value="<%=Task.optionB%>">
                            <label style="font-size: 20px;" for="B" id="optionBlabel"><%=Task.optionB%></label><br>
                        </div>
                        <div>
                            <input type="radio" style="border: 0px;  width: 20px; height: 20px; margin-bottom: 15px;" id="C" name="questionchoice" value="<%=Task.optionC%>">
                            <label style="font-size: 20px;" for="C" id="optionClabel"><%=Task.optionC%></label><br>
                        </div>
                        <% if (Task.optionD != "") { %>
                        <div>
                            <input type="radio" style="border: 0px;  width: 20px; height: 20px; margin-bottom: 15px;" id="D" name="questionchoice" value="<%=Task.optionD%>">
                            <label style="font-size: 20px;" for="D" id="optionDlabel"><%=Task.optionD%></label><br>
                        </div>
                        <% } %>
                    </div>
                    <br>
                    <div>
                        <button type="submit" id="answerbutton" class="answerbutton" disabled>OK</button>
                        <br>
                        <h2 style="font-size: 50px; display: inline-flex;" id="answerresult"></h2>
                        <button type="submit" style="visibility: hidden; margin-left: 150px; margin-top: 40px; font-size: 18px;  width: 170px;" id="goodquestion" class="goodquestion">Hyvä tehtävä :)</button>
                        <button type="submit" style="visibility: hidden; margin-top: 40px; font-size: 18px; width: 170px;" id="badquestion" class="badquestion">Huono tehtävä :(</button>
                    </div>
                </form>
                
                <div class="taskdescription" id="descriptiondiv" style="display: none; white-space: pre-wrap"><%=Task.description%><%if(Task.descriptionimageurl != ""){%><img id="descriptionimage" src="<%=Task.descriptionimageurl%>" style="visibility: hidden; margin: 20px; width: 90%"><%}%></div>
                
                <br>
            
                <% } else { %>
                    <div>TEHTÄVÄT LOPPU</div>
                   <% } %>
    
            <button class="taskoptionbutton" onclick="window.location.reload();">Seuraava tehtävä</button>
            <button type="submit" style="visibility: hidden;" id="goodquestion" class="goodquestion">Hyvä tehtävä :)</button>
            <button type="submit" style="visibility: hidden;" id="badquestion" class="badquestion">Huono tehtävä :(</button>
            <button class="taskoptionbutton" style="float: right;" onclick="window.location='/tehtavat'" >Takaisin tehtävävalikkoon</button>
        </div>
        <div class="infodivwrapper">
            <% if (locals.Task) { %>
            <p style="font-size: 20px;"><%= Task.category %>:</p>
            <% } %>
            <% if (locals.CorrectAnswers >= 0) { %>
            <h5 id="profilecorrectanswerpercentage" class="profilelist">(<%= ((CorrectAnswers / Answers.length).toFixed(2) * 100) || 0 %> %)</h5>
            <p id="profileansweramount" class="profilelist">Vastauksia: <%= Answers.length %></p>
            <p id="profilecorrectansweramount" class="profilelist">Oikein: <%= CorrectAnswers %></p>
            <p id="profilewrongansweramount" class="profilelist">Väärin: <%= WrongAnswers %></p>
            <% } %>
        </div>
    </div>
    
    
    
    <br>
    <br>
    <br>
    <br>
    


    <script>

        $(document).ready()
        {

            function jsonEscape(str)  
            {
                return str.replace(/\n/g, "\\\\n").replace(/\r/g, "\\\\r").replace(/\t/g, "\\\\t");
            }

            // Use res.render() variables in client script: 
            // var test = '<%- JSON.stringify(Task) %>'
            // var obj = JSON.parse(jsonEscape(test))


            // sekoitus
            // var parent = $("#shuffle");
            // var divs = parent.children();

            // while (divs.length) 
            // {
            //     parent.append(divs.splice(Math.floor(Math.random() * divs.length), 1)[0]);
            // }

            console.log("RRRRRRRRRRRRRRRRRRR")
            console.log(document.getElementById("correctOption").value)
            console.log(document.getElementById("A").value)
        }

        $(function(){

            $("input:radio").change(function () {$("#answerbutton").attr("disabled", false);});

            var asd;

            $("*.answerbutton").on("click", function()
            {
                event.preventDefault();


                // function jsonEscape(str)  
                // {
                //     return str.replace(/\n/g, "\\\\n").replace(/\r/g, "\\\\r").replace(/\t/g, "\\\\t");
                // }

                var checkedradio;

                var radios = document.getElementsByName('questionchoice');

                for (var i = 0, length = radios.length; i < length; i++) {
                    if (radios[i].checked) {
                        
                        checkedradio = radios[i].id;

                        break;
                    }
                }             

                if (checkedradio == document.getElementById("correctOption").value)
                {
                    document.getElementById("answerresult").innerHTML = "Oikea vastaus"
                    document.getElementById("answerresult").style.color = "#03BD00";
                    document.getElementById("A").disabled = true;
                    document.getElementById("B").disabled = true;
                    if(document.getElementById("C") != null)
                    {
                        document.getElementById("C").disabled = true;
                    }
                    if(document.getElementById("D") != null)
                    {
                        document.getElementById("D").disabled = true;
                    }
                }
                else
                {
                    document.getElementById("answerresult").innerHTML = "Väärä vastaus"
                    document.getElementById("answerresult").style.color = "#FFA07A";
                    document.getElementById("A").disabled = true;
                    document.getElementById("B").disabled = true;
                    if(document.getElementById("C") != null)
                    {
                        document.getElementById("C").disabled = true;
                    }
                    if(document.getElementById("D") != null)
                    {
                        document.getElementById("D").disabled = true;
                    }

                    // $.ajax({
                    //     type: "GET",
                    //     url: "/tehtavat/" + document.getElementById("userid").innerHTML,
                    //     dataType: "json",
                    //     success: function(users)
                    //     {
                    //         $.each(users, function(i, user)
                    //         {
                    //             document.getElementById("profileansweramount").innerHTML = "QWEQWEQWEQ"
                    //         })
                    //     }          
                    // });
                }

                document.getElementById("descriptiondiv").style.display = "block";
                document.getElementById("descriptionimage").style.visibility = "visible";

                console.log("NNNNNNNNNNNNNNNNNN")
                console.log(document.getElementById("correctOption"));
                const corr = document.getElementById("correctOption").value;
                document.getElementById("answerbutton").disabled = true;
                document.getElementById("optionAlabel").style.backgroundColor = "#FFA07A";
                document.getElementById("optionBlabel").style.backgroundColor = "#FFA07A";
                if(document.getElementById("optionClabel") != null)
                {
                    document.getElementById("optionClabel").style.backgroundColor = "#FFA07A";
                }
                if(document.getElementById("optionDlabel") != null)
                {
                    document.getElementById("optionDlabel").style.backgroundColor = "#FFA07A";
                }
                document.getElementById("option" + corr + "label").style.backgroundColor = "#98FB98";

                document.getElementById("goodquestion").style.visibility = "visible";
                document.getElementById("badquestion").style.visibility = "visible";

                $.post("/tehtavat/answers",
                {
                    answer: checkedradio,
                    questionid: document.getElementById("questionidlabel").value
                },
                function(data, status){
                    alert("Data: " + data + "\nStatus: " + status);
                });

            })

            $("*.goodquestion").on("click", function()
            {
                $.post("/tehtavat/rating",
                {
                    questionid: document.getElementById("questionidlabel").value,
                    rating: 1
                },
                function(data, status){
                    alert("Data: " + data + "\nStatus: " + status);
                });

                document.getElementById("goodquestion").disabled = true;
                document.getElementById("goodquestion").style.backgroundColor = "#98FB98";
                document.getElementById("badquestion").disabled = true;
            })
            $("*.badquestion").on("click", function()
            {
                $.post("/tehtavat/rating",
                {
                    questionid: document.getElementById("questionidlabel").value,
                    rating: -1
                },
                function(data, status){
                    alert("Data: " + data + "\nStatus: " + status);
                });
                document.getElementById("goodquestion").disabled = true;
                document.getElementById("badquestion").disabled = true;
                document.getElementById("badquestion").style.backgroundColor = "#FFA07A";
            })
        })
    </script>

</body>
</html>

