<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"" ></script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <title>Document</title>
</head>
<body>
    <br>
    <div>
        <label>Kategoriat: </label>
        <form action="/tehtavat/kaikki">
            <button type="submit">Kaikki kategoriat</button>
        </form>
        <form action="/tehtavat/valioliiga">
            <button type="submit">Valioliiga</button>
        </form>
        <form action="/tehtavat/laliga">
            <button type="submit">La Liga</button>
        </form>
        <form action="/tehtavat/bundesliga">
            <button type="submit">Bundesliga</button>
        </form>
        <form action="/tehtavat/seriea">
            <button type="submit">Serie A</button>
        </form>
    </div>

    <h2 id="answerresult"></h2>

    <br>

    <% if (Task != undefined) { %>
    <form action="/tehtavat/kaikki" method="POST">
        <input style="visibility: hidden" id="questionidlabel" value="<%= Task.id %>" type="text" name="questionidlabel"></input>
        <br>
        <label> Kategoria: <%= Task.category %>  </label>
        <br>
        <label> Kysymys: <%= Task.question %> </label>
        <br>
        <br>
        <br>
        <div id="shuffle">
            <button type="submit" class="answerbutton" id="correctanswer" name="questionchoice" value="<%=Task.correctAnswer%>"><%=Task.correctAnswer%></button>
            <button type="submit" class="answerbutton" id="wronganswer1" name="questionchoice" value="<%=Task.wrongAnswer1%>"><%=Task.wrongAnswer1%></button>
            <button type="submit" class="answerbutton" id="wronganswer2" name="questionchoice" value="<%=Task.wrongAnswer2%>"><%=Task.wrongAnswer2%></button>
            <button type="submit" class="answerbutton" id="wronganswer3" name="questionchoice" value="<%=Task.wrongAnswer3%>"><%=Task.wrongAnswer3%></button>
        </div>
    </form>
    
    <br>
    <div id="descriptiondiv" style="visibility: hidden" ><%=Task.description%></div>
    <br>

    <% } else { %>
        <div>TEHTÄVÄT LOPPU</div>
       <% } %>
    <button onclick="window.location.reload();">Seuraava tehtävä</button>
    <br>
    <br>
    <br>
    <br>
    <a href="/tehtavat/luo">Luo tehtävä</a>


    <script>

        $(document).ready()
        {
            //
            // Use res.render() variables in client script: 
            // var test = '<%- JSON.stringify(Task) %>'
            // var obj = JSON.parse(test)
            //

            var parent = $("#shuffle");
            var divs = parent.children();

            while (divs.length) 
            {
                parent.append(divs.splice(Math.floor(Math.random() * divs.length), 1)[0]);
            }
        }

        $(function(){

            $("*.answerbutton").on("click", function()
            {
                event.preventDefault();

                var test = '<%- JSON.stringify(Task) %>'
                var obj = JSON.parse(test)

                console.log(this.innerHTML)
                console.log(obj.correctAnswer)

                if (this.innerHTML == obj.correctAnswer)
                {
                    document.getElementById("answerresult").innerHTML = "Oikea vastaus"
                    document.getElementById("correctanswer").disabled = true;
                    document.getElementById("wronganswer1").disabled = true;
                    document.getElementById("wronganswer2").disabled = true;
                    document.getElementById("wronganswer3").disabled = true;
                }
                else
                {
                    document.getElementById("answerresult").innerHTML = "Väärä vastaus"
                    document.getElementById("correctanswer").disabled = true;
                    document.getElementById("wronganswer1").disabled = true;
                    document.getElementById("wronganswer2").disabled = true;
                    document.getElementById("wronganswer3").disabled = true;
                }

                document.getElementById("descriptiondiv").style.visibility = "visible";
                document.getElementById("correctanswer").style.backgroundColor = "#98FB98";
                document.getElementById("wronganswer1").style.backgroundColor = "#FFA07A";
                document.getElementById("wronganswer2").style.backgroundColor = "#FFA07A";
                document.getElementById("wronganswer3").style.backgroundColor = "#FFA07A";

                $.post("/tehtavat/answers",
                {
                    answer: this.innerHTML,
                    questionid: document.getElementById("questionidlabel").value
                },
                function(data, status){
                    alert("Data: " + data + "\nStatus: " + status);
                });

            })
        })
    </script>

</body>
</html>

