Profiili

<div>Nimitunnus: <%= LoggedUser.name %></div>
<div>Sähköposti: <%= LoggedUser.email %></div>

<div>Vastauksia : <%= answers.length %></div>
<div>Oikeita vastauksia : <%= correctAnswers %></div>
<div>Vääriä vastauksia : <%= wrongAnswers %></div>


