<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profiili</title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <h1>Profiili</h1>

        <div class="profileclass">
            <p>Nimitunnus: <%= LoggedUser.name %></p>
            <p>Sähköposti: <%= LoggedUser.email %></p>
        
            <div class="profilesuccess">
                <div class="profilecategory">
                    <h5 class="profilelist">Kaikki kategoriat (<%= Math.round(((correctAnswers / answers.length).toFixed(2) * 100) || 0) %> %)</h5>
                    <p class="profilelist">Vastauksia: <%= answers.length %></p>
                    <p class="profilelist">Oikein: <%= correctAnswers %></p>
                    <p class="profilelist">Väärin: <%= wrongAnswers %></p>
                </div>
                <div class="profilecategory">
                    <h5 class="profilelist">Päätöksenteko (<%= Math.round(((PaatoscorrectAnswers / PaatosAnswers.length).toFixed(2) * 100) || 0) %> %)</h5>
                    <p class="profilelist">Vastauksia: <%= PaatosAnswers.length %></p>
                    <p class="profilelist">Oikein: <%= PaatoscorrectAnswers %></p>
                    <p class="profilelist">Väärin: <%= PaatoswrongAnswers %></p>
                </div>
                <br>
                <div class="profilecategory">
                    <h5 class="profilelist">Matematiikka (<%= Math.round(((MatematiikkacorrectAnswers / MatematiikkaAnswers.length).toFixed(2) * 100) || 0) %> %)</h5>
                    <p class="profilelist">Vastauksia: <%= MatematiikkaAnswers.length %></p>
                    <p class="profilelist">Oikein: <%= MatematiikkacorrectAnswers %></p>
                    <p class="profilelist">Väärin: <%= MatematiikkawrongAnswers %></p>
                </div>
                <div class="profilecategory">
                    <h5 class="profilelist">Englanti (<%= Math.round(((EnglanticorrectAnswers / EnglantiAnswers.length).toFixed(2) * 100) || 0) %> %)</h5>
                    <p class="profilelist">Vastauksia: <%= EnglantiAnswers.length %></p>
                    <p class="profilelist">Oikein: <%= EnglanticorrectAnswers %></p>
                    <p class="profilelist">Väärin: <%= EnglantiwrongAnswers %></p>
                </div>
                <br>
                <div class="profilecategory">
                    <h5 class="profilelist">Suomi (<%= Math.round(((SuomicorrectAnswers / SuomiAnswers.length).toFixed(2) * 100) || 0) %> %)</h5>
                    <p class="profilelist">Vastauksia: <%= SuomiAnswers.length %></p>
                    <p class="profilelist">Oikein: <%= SuomicorrectAnswers %></p>
                    <p class="profilelist">Väärin: <%= SuomiwrongAnswers %></p>
                </div>
            </div>
        </div>
    </div>   
</body>
</html>





